/*------------------------------------*\
  COLORS
\*------------------------------------*/
/*
  bar:         #8cd959;
  text:        #4da626;
  qoute:       #595959;
  
  background:  #d4d8d2;
  headers:     #1f3014;
*/

/*------------------------------------*\
  MAIN
\*------------------------------------*/
html{
    background:#d4d8d2;
    color:#1f3014;
    font-family: "Lucida Grande",Verdana,sans-serif;
/*
    color:#e4eef6;
    background:#4a8ec2;
    background:-moz-linear-gradient(-90deg,#5998c7,#4a8ec2) fixed;
    background:-webkit-gradient(linear,left top,left bottom,from(#5998c7),to(#4a8ec2)) fixed;
*/
}
body{
    padding-top:50px;
}
#page{
    margin:0 auto;
    float:none;
    text-align:center;
}

h1{
    text-shadow:0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(255,255,255,0.25);
}


header{
    width:100%;
    top:0;
    display:block;
}


/*------------------------------------*\
  TYPE
\*------------------------------------*/
h1{
    font-weight:bold;
    font-size:3em;
    line-height:1;
}
a, a:visited{
    color:inherit;
    opacity:1; /* override inuit.css */
}

address{
/*    font-family:"Georgia", "Times New Roman", serif; */
    font-style:italic;
}

address span {
    clear:right;
    float:right;
    padding-left:20px;
    text-align:right;
}

span.address {
    background:url("../img/house.png") no-repeat left;
}
span.mobile {
    background:url("../img/phone.png") no-repeat left;
}
span.email {
    background:url("../img/email.png") no-repeat left;
}
span.web {
    background:url("../img/world.png") no-repeat left;
}
span.msn {
    background:url("../img/status_online.png") no-repeat left;
}
span.resume {
    background:url("../img/report_user.png") no-repeat left;
}
span.bday {
    background:url("../img/cake.png") no-repeat left;
}

blockquote{
    color:#595959;
    font-style:italic;
}

address,h2,h3{
    color:#4da626;
}

::-moz-selection{
    background:#8cd959;
    color:#ffffff;
    text-shadow:none;
}
::selection{
    background:#8cd959;
    color:#ffffff;
    text-shadow:none;
} 
a:link{
    -webkit-tap-highlight-color:#8cd959;
}




/*------------------------------------*\
  IMAGES
\*------------------------------------*/
#logo{
    margin-bottom:1.5em;
}





/*------------------------------------*\
  NARROW
\*------------------------------------*/
/*
  CSS for tablets and narrower devices
  */





@media (min-width:721px) and (max-width:960px){}
/*--- END NARROW ---*/





/*------------------------------------*\
  MOBILE
\*------------------------------------*/
/*
  CSS for mobile devices.
  Linearise it!
  */





@media (max-width:720px){
    body{
	font-size:0.75em;
    }
}
/*--- END MOBILE ---*/